lookup_dirs:
  - .
  - singularity-templating
  - ~/singularity-templating
singularity_parameters:
  template_name: aalto-ubuntu-image.template
  os: 
    name: xenial
    package_ver: 1604
    mirror: http://fi.archive.ubuntu.com/ubuntu/
